/* Done By: Theophilus Nyasha Nenhanga Date: 2022/05/10 */

/* General Styling */
body{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 110%;
    padding: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    background-color: #292826;
}

div{
    margin: 1.15em;
    padding: 0.65em;
    color: #292826;
    background-color: #f9d342;
    border-radius: 1rem;
}

.button{
    padding: 0.8em;
    border-radius: 1rem;
    margin-top: 1em;
    border-color: #292826;
    background-color: #f9d342;
    color:#292826;
}

.form-input{
    border-radius: 1rem;
    padding: 0.7em;
    border-color: #292826;
    background-color: #f9d342;
    color:#292826;
    margin-top: 0.5em;
}

/* Media Queries */

@media screen and (max-width:600px) {
    body{
        font-size: 90%;
        width: 80%;
    }

    .form-input{
       max-width: 85%;
    }

}

@media screen and (min-width:600px) {
    body{
        font-size: 100%;
        width: 65%;
    }
}

@media screen and (min-width:992px) {
    body{
        font-size: 110%;
        width: 35%;
    }
}